<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="win.likie.point.mapper.ClientInfoMapper">
  <resultMap id="BaseResultMap" type="win.likie.point.entity.ClientInfo">
    <id column="client_id" jdbcType="INTEGER" property="clientId" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="client_mobile" jdbcType="VARCHAR" property="clientMobile" />
    <result column="purchased_points" jdbcType="INTEGER" property="purchasedPoints" />
    <result column="converted_points" jdbcType="INTEGER" property="convertedPoints" />
    <result column="remaining_points" jdbcType="INTEGER" property="remainingPoints" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    client_id, client_name, client_mobile, purchased_points, converted_points, remaining_points, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_info
    where client_id = #{clientId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from client_info
    where client_id = #{clientId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="win.likie.point.entity.ClientInfo">
    insert into client_info (client_id, client_name, client_mobile, 
      purchased_points, converted_points, remaining_points, 
      create_time, update_time)
    values (#{clientId,jdbcType=INTEGER}, #{clientName,jdbcType=VARCHAR}, #{clientMobile,jdbcType=VARCHAR}, 
      #{purchasedPoints,jdbcType=INTEGER}, #{convertedPoints,jdbcType=INTEGER}, #{remainingPoints,jdbcType=INTEGER}, 
      sysdate() , sysdate() )
  </insert>
  <insert id="insertSelective" parameterType="win.likie.point.entity.ClientInfo">
    insert into client_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        client_id,
      </if>
      <if test="clientName != null">
        client_name,
      </if>
      <if test="clientMobile != null">
        client_mobile,
      </if>
      <if test="purchasedPoints != null">
        purchased_points,
      </if>
      <if test="convertedPoints != null">
        converted_points,
      </if>
      <if test="remainingPoints != null">
        remaining_points,
      </if>
      <if test="createTime == null">
        create_time,
      </if>
      <if test="updateTime == null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="clientName != null">
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientMobile != null">
        #{clientMobile,jdbcType=VARCHAR},
      </if>
      <if test="purchasedPoints != null">
        #{purchasedPoints,jdbcType=INTEGER},
      </if>
      <if test="convertedPoints != null">
        #{convertedPoints,jdbcType=INTEGER},
      </if>
      <if test="remainingPoints != null">
        #{remainingPoints,jdbcType=INTEGER},
      </if>
      <if test="createTime == null">
       sysdate() ,
      </if>
      <if test="updateTime == null">
       sysdate() ,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="win.likie.point.entity.ClientInfo">
    update client_info
    <set>
      <if test="clientName != null">
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientMobile != null">
        client_mobile = #{clientMobile,jdbcType=VARCHAR},
      </if>
      <if test="purchasedPoints != null">
        purchased_points = #{purchasedPoints,jdbcType=INTEGER},
      </if>
      <if test="convertedPoints != null">
        converted_points = #{convertedPoints,jdbcType=INTEGER},
      </if>
      <if test="remainingPoints != null">
        remaining_points = #{remainingPoints,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = sysdate(),
      </if>
    </set>
    where client_id = #{clientId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="win.likie.point.entity.ClientInfo">
    update client_info
    set client_name = #{clientName,jdbcType=VARCHAR},
      client_mobile = #{clientMobile,jdbcType=VARCHAR},
      purchased_points = #{purchasedPoints,jdbcType=INTEGER},
      converted_points = #{convertedPoints,jdbcType=INTEGER},
      remaining_points = #{remainingPoints,jdbcType=INTEGER},
      update_time = sysdate()
    where client_id = #{clientId,jdbcType=INTEGER}
  </update>

  <select id="getsByMap" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from client_info
    where 1=1
    <foreach collection="map.keys" item="_itemKey" open=""  separator="">
      <if test="null != map[_itemKey]">
        and ${_itemKey} = #{map[${_itemKey}]}
      </if>
    </foreach>
  </select>
  <select id="getCountByMap" parameterType="java.util.HashMap" resultType="java.lang.Integer" >
    select count(1)
    from client_info
    where 1=1
    <foreach collection="map.keys" item="_itemKey" open=""  separator="">
      <if test="null != map[_itemKey]">
        and ${_itemKey} = #{map[${_itemKey}]}
      </if>
    </foreach>
  </select>
</mapper>